body {
  background-image: url('../images/adventureBG.png');
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
    position: relative;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
.navbar .navbar-nav .nav-item {
position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  width: 0%;
  content: "";
  height: 4px;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar .navbar-nav .nav-item::after {
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-collapse {
  flex-basis: auto;
  display: flex !important;
  justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important;
  font-family: sans-serif;
  font-weight: bold;

}
.adventure-logo{
max-height: 30px;
max-width: auto;
}
.index-info {
  font-family: nimbus;
  text-align: center;
  font-size: 20px;
  margin-top: 15%;
  margin-left: 40%; 
  box-sizing: 24px 40px;
}
